$subtle-icon: #686767;
$btn-shade: #00000012;
$shadow: #00000036;
$danger: #e90052;
$boh-background: rgb(243, 243, 243);
$boh-text: #222424;
$fluorescent: #00ff87;
$fluorescent-hover: #00df77;
$edge: rgb(182, 182, 182);
$highlight: #ffe65b;
$front-light-text: rgb(202, 202, 202);

* {
  //   font-family: sans-serif;

  font-family: "Roboto", sans-serif;
  color: rgb(38, 38, 38);
  box-sizing: border-box;
  color: $boh-text;
}

body {
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.back-of-house-background {
  background-color: $boh-background;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

input,
textarea {
  font-size: 1rem;
  padding: 1em 0.5em;
  box-shadow: inset 3px 4px 0 $shadow;
  background: $btn-shade;
  border: 1px solid $edge;

  &:focus {
    outline: 1px solid $edge;
  }
}

input[type="file"] {
  display: none;
}

textarea {
  resize: vertical;
}

button {
  background-color: $fluorescent;
  border: none;
  padding: 0.7em 1em;
  cursor: pointer;
  font-size: 0.9rem;
  &:hover {
    background-color: $fluorescent-hover;
  }
}

.faux-btn {
  background-color: $fluorescent;
  width: 10em;
  text-align: center;
  border: none;
  padding: 0.7em 1em;
  cursor: pointer;
  font-size: 0.9rem;
  &:hover {
    background-color: $fluorescent-hover;
  }
}

.svg-btn {
  fill: $subtle-icon;
  cursor: pointer;
  &:hover {
    fill: black;
  }
}

.svg-icon-disabled {
  stroke: #ffffff55;
}

.btn-danger:hover {
  background-color: $danger;
  color: white;
}

.small-container {
  width: 350px;
  margin: 20vh auto;
}

.app-body {
  min-width: 350px;
  max-width: 900px;
  margin: 0 auto;
}

.user-form {
  display: flex;
  flex-direction: column;
  //   background-color: red;

  & label {
    margin-bottom: 0.5em;
  }

  &__btn {
    margin-left: 50%;
    width: 50%;
    margin-bottom: 1em;
    // border-radius: 0;

    &:focus {
      outline: 1px solid $boh-text;
    }

    &:focus {
      outline: 1px solid #0000007f;
      color: #0000007f;
    }
  }
}

.error-msg {
  background-color: $danger;
  text-align: center;
  padding: 0.8em 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  color: white;
}

.nav-bar {
  display: flex;
  // background-color: red;
  align-items: center;

  &__email {
    margin-left: auto;
  }
  &__logout {
    margin-left: 1em;
    margin-right: 0;
  }
}

// .dashboard {
//   margin-bottom: 1em;
// }

.progress-bar {
  background-color: $highlight;
  padding: 0.5em 0;
  margin-bottom: 1em;
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__wrap {
    position: relative;
    // background-color: cyan;
    height: 10em;
    margin-bottom: 1em;
    margin-right: 1em;
    &:hover > .image-overlay {
      visibility: visible;
    }
  }

  & img {
    height: 100%;
  }
}

.image-overlay {
  background-color: #00000088;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
  user-select: none;
}

.new-collection {
  &__btn-panel {
    margin-left: auto;
  }
  &__start-btn {
    margin-bottom: 0.5em;
  }

  &__container {
    background-color: #ffffff28;
    width: 100%;
    box-shadow: 4px 5px 0 $shadow;
    border: 2px solid $edge;
    padding: 1em;
    margin-bottom: 3em;
  }

  &__form-container {
    display: flex;
    flex-direction: column;

    & label {
      margin-bottom: 0.5em;
    }

    & button {
      width: 6em;
      margin-left: 1em;
    }
  }
}

.collection-tile {
  display: flex;
  border-bottom: 1px solid $edge;

  margin-bottom: 1em;
  padding: 0.5em 1em 1.5em 0.5em;

  // &:hover {
  //   background-color: $btn-shade;
  // }

  &__expanded {
    // background-color: white;
    box-shadow: 4px 5px 0 $shadow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    border: 2px solid $edge;
    margin-bottom: 1em;
    padding: 1em;

    // &__left {
    // }
    &__right {
      display: grid;
      grid-template-columns: 1fr 3em;
      grid-template-rows: 2em auto 3em;
      row-gap: 1em;
      height: 100%;
      width: 100%;
    }
  }

  &__btn-panel {
    grid-column-start: 1;
    grid-column-end: span 2;
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    margin-left: 1em;
    margin-bottom: 0;
  }

  &__edit-btn {
    // background-color: red;
    justify-self: right;
  }

  &__img-wrapper {
    overflow: hidden;
    height: 8em;
    min-width: 12em;
    // background-color: red;
  }

  &__img {
    // height: 5em;
    height: 100%;
  }

  &__info {
    margin-left: 2em;
    margin-bottom: 2em;
  }

  &__expand-btn {
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
  }

  &__title {
    margin: 0 0 0.5em 0;
  }
}

// --- FRONT OF HOUSE --- //

.nav-bar-front {
  width: 100em;
  margin: 1em auto;
  padding: 0 0.2em;
  display: flex;
  align-items: flex-end;
  &__title {
    margin: 0;
  }
  &__links {
    display: flex;
    margin-left: auto;
  }
  &__link {
    margin: 0 0 0.25em 4em;
    font-weight: 200;
  }
}

.img-grid-front {
  width: 100.2em;
  margin: 1em auto;
  display: flex;
  flex-flow: wrap;

  &__img-wrapper {
    height: 25em;
    width: 25em;
    overflow: hidden;
  }
  &__img {
    object-fit: cover;
    width: 25em;
    height: 25em;
    margin: 0.2em;
    cursor: pointer;
    filter: brightness(100%);

    &:hover {
      filter: brightness(70%);
      transition: all 0.3s ease;
    }
  }
}

.img-expand-wrapper-front {
  user-select: none;
  width: 100%;
  height: 100vh;
  background-color: cyan;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 15em;

  &__left-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(10, 10, 10);
  }
  &__right-container {
    // width: 20em;
    // height: 100vh;
    background-color: rgb(49, 49, 49);
    // color: red;
    padding: 1.5em 1em 1em 1em;
    &__inner {
      // background-color: red;
      width: 100%;
      height: 100%;
    }
    &__title {
      margin: 0;
      color: $front-light-text;
      font-size: 1.5rem;
    }
    &__description {
      margin-top: 1em;
      color: $front-light-text;
      font-size: 0.8rem;
    }
  }
  &__exit-symbol {
    cursor: pointer;
    margin: 0.5em;
    position: absolute;
  }
  &__left-symbol {
    // background-color: red;
    cursor: pointer;
    margin: 0.5em;
    position: absolute;
    top: 50%;
  }
  &__right-symbol {
    // background-color: red;
    cursor: pointer;
    margin: 0.5em;
    position: absolute;
    top: 50%;
    right: 0;
  }
  &__bottom-panel {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    min-width: 1em;
    height: 3em;
    // background-color: red;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    &__circle {
      margin: 1em;
    }
  }
  &__img-container {
    // background-color: black;
    height: 100%;
    width: 100%;
    padding: 3em;
    display: flex;
    justify-content: center;
  }
}

// --- MEDIA QUERIES --- //

@media only screen and (max-width: 1610px) {
  .nav-bar-front {
    width: 75.2em;
  }
  .img-grid-front {
    width: 75.2em;
  }
}

@media only screen and (max-width: 1230px) {
  .nav-bar-front {
    width: 50.2em;
  }
  .img-grid-front {
    width: 50.2em;
  }
}

@media only screen and (max-width: 820px) {
  .nav-bar-front {
    margin: 1em 3em;
    width: auto;
  }

  .img-grid-front {
    width: auto;
    justify-content: center;

    &__img-wrapper {
      height: 12.5em;
      width: 12.5em;
    }
    &__img {
      width: 12.5em;
      height: 12.5em;
    }
  }
}
