* {
  //   font-family: sans-serif;
  font-family: "Share Tech Mono", monospace;
  color: rgb(38, 38, 38);
}

body {
  background-color: #cfcfcb;
}

input {
  font-size: 1rem;
  padding: 1em 0.5em;
  margin-bottom: 1em;

  box-shadow: inset 3px 4px 0 #00000036;
  background: #00000012;
  border: 1px solid black;

  &:focus {
    outline: 1px solid black;
  }
}

button {
  background-color: #00000012;
  border: 1px solid black;
  padding: 0.7em 1em;
  cursor: pointer;
  &:hover {
    background-color: rgba(89, 89, 89, 0.233);
  }
}

.small-container {
  width: 350px;
  margin: 20vh auto;
}

.user-form {
  display: flex;
  flex-direction: column;
  //   background-color: red;

  & label {
    margin-bottom: 0.5em;
  }

  &__btn {
    margin-left: 50%;
    width: 50%;
    margin-bottom: 1em;
    // border-radius: 0;

    &:focus {
      outline: 1px solid black;
    }

    &:focus {
      outline: 1px solid #0000007f;
      color: #0000007f;
    }
  }
}

.error-msg {
  background-color: #ff6b6b;
  text-align: center;
  padding: 0.8em 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  color: white;
}

.dashboard {
  margin-bottom: 1em;
}

.progress-bar {
  background-color: white;
  padding: 0.5em 0;
}

.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;

  &__wrap {
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    position: relative;
  }

  & img {
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
